:root {
    --maincl: #437EF7;
    --bgcl: #2B63D9;
    --whitecl: #fff;
    --mainp: #5F6D7E;
    --pcl: #B1CCFB;
    --footerp: #A5ACBA;
}

* {
    scroll-behavior: smooth;
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

body {
    height: auto;
    font-family: "Lato", sans-serif;
}

.container {
    width: 80%;
    margin: auto;
}



.display-h {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.display-v {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;

}


.main__button {
    background-color: var(--maincl);
    color: #fff;
    padding: 15px 25px;
    border-radius: 6px;
    border: 0;
    cursor: pointer;
    transition: 0.5s;
}

.main__button:hover {
    background-color: #fff;
    color: var(--maincl);
}

.sub__button {
    color: var(--maincl);
    background-color: transparent;
    border: 0;
    border-radius: 6px;
    padding: 15px 25px;
    cursor: pointer;
    transition: 0.5s;
}

.sub__button:hover {
    background-color: var(--maincl);
    color: #fff;
}

p {
    color: var(--mainp);
    line-height: 24px;
}

span {
    color: var(--mainp);
}

#bars_button {
    display: none;
    background-color: transparent;
    border: 0;
    font-size: 25px;
}

#button__none {
    display: none;
}

/* -----------------start header------------------------ */

header {
    background-color: #fff;
    filter: drop-shadow(0 0 5px #0000002d);
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    align-items: center;
}

.nav__logo {
    gap: 40px;
}

.nav__logo__img {
    justify-content: space-between;
    width: 100%;
    gap: 40px;
}

.nav__links a {
    text-decoration: none;
    color: #000;
    padding: 10px;
}

.nav__links i {
    margin-left: 10px;
}



/* -----------------End header------------------------ */

/* -----------------Start Landing------------------------ */
.landing {
    display: flex;
    flex-direction: column;
}

.landing__header {
    margin-top: 70px;
}

.landing__header h5 {
    color: var(--maincl);
}

.landing__header h1 {
    width: 40%;
    margin: 10px 0 40px 0;
    text-align: center;
    font-weight: bold;
    font-size: 48px;
}

.landing__center {
    background-color: var(--bgcl);
    padding: 50px 0;
    color: var(--whitecl);
    margin-top: 20px;
}

.landing__center .container {
    justify-content: space-between;
}

.landing__center__left {
    width: 45%;
}

.landing__bottom__left__img img {
    width: 540px;
}

.landing__center__left p {
    color: var(--pcl);
    margin-top: 20px;
    width: 98%;
    font-weight: 400;
}

.landing__center__right__input {
    background-color: var(--whitecl);
    border-radius: 6px;
}

.landing__center__right__input input {
    background-color: transparent;
    padding: 8px 120px 8px 10px;
    border: 0;
}

.landing__center__right__input input:focus {
    outline: none;
}

.landing__center__right__input input::placeholder {
    margin-right: 30px;
    color: var(--pcl);
}

.landing__center__right__input button {
    padding: 10px 18px;
    border: 0;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;

}

.landing__center__right h5 {
    margin-top: 5px;
    color: var(--pcl);
}

.landing__bottom {
    gap: 2%;
    margin-top: 60px;
}

.landing__bottom__left {
    width: 50%;
    height: 420px;
}

.landing__bottom__left h2 {
    padding-top: 13px;
}

.landing__bottom__left p {
    padding: 13px 0;
}

.landing__bottom__right {
    width: 48%;
}

.landing__bottom__right__box {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
}



.landing__bottom__right__box p {
    padding: 10px 0;
}

/* -----------------End Landing------------------------ */

/* -----------------Start posts------------------------ */

.category__head {
    text-align: center;
    padding-top: 50px;
}

.category__head h2 {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 0;
    margin-top: 60px;
    font-size: 38px;
}



.category__boxs {
    gap: 40px;
    margin-top: 50px;
    flex-wrap: wrap;
    row-gap: 40px;
    justify-content: space-between;
    transition: 0.5s;
}



.category__boxs__box {
    width: calc(33% - 40px);
    transition: 0.5s;
}

.category__boxs__box:hover {
    transform: scale(1.1);
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 25px;
    filter: drop-shadow(0 5px 10px #b8b8b8);

}

.category__boxs__box h3 {
    font-size: 22px;
    padding: 15px 0;
    line-height: 30px;
}

.category__boxs__box button {
    padding: 0;
    gap: 10px;
}

.category__boxs__box i {
    transition: 0.5s;
}

.category__boxs__box:hover i {
    margin-left: 20px;
}

.category__boxs__box p {
    margin-top: 10px;
}

/* -----------------End posts------------------------ */

/* -----------------Start News------------------------ */

.news {
    background-color: var(--bgcl);
    text-align: center;
    padding: 60px 0;
    margin-top: 70px;
}

.news__header {
    color: var(--whitecl);
}

.news__header h5 {
    font-weight: 600;
    font-size: 14px;
}

.news__header h2 {
    width: 50%;
    margin: auto;
    padding: 15px 0;
    font-size: 32px;
}

.news__button button {
    background-color: var(--whitecl);
    margin-top: 10px;
}

.news__button button:nth-child(2) {
    background-color: var(--maincl);
    margin-left: 10px;
    display: none;
}

/* -----------------End News------------------------ */

/* -----------------Start Footer------------------------ */
footer {
    background-color: #151B28;
    position: relative;
    color: var(--whitecl);
}

.footer__boxs {
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 70px;
}

.footer__boxs__box {
    width: 30%;
}

.footer__boxs__box__content .head {
    padding-bottom: 20px;
}

.footer__boxs__box__content p {
    padding: 15px 0;
    color: var(--footerp);
}

.footer__boxs__box__content h5 {
    color: var(--footerp);
    padding: 10px 0;
}

.footer__boxs__box__input {
    background-color: #2E3545;
    border-radius: 6px;
    justify-content: space-between;

}

.footer__boxs__box__input input {
    background-color: transparent;
    border: 0;
}

.footer__boxs__box__input input:focus {
    outline: none;
}

.footer__boxs__box__input input::placeholder {
    color: var(#A5ACBA);
    padding-left: 20px;
}

.footer__boxs__box__input button {
    border: 0;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}


/* -----------------End Footer------------------------ */



@media (max-width: 768px) {
    .container {
        width: 90%;
    }

    nav {
        flex-direction: column;
        gap: 15px;
    }

    .nav__logo {
        flex-direction: column;
        gap: 20px;
        align-items: flex-start;
        width: 100%;
    }

    .nav__links {
        display: none;
    }

    #bars_button {
        display: block;
    }

    .nav__button {
        display: none;
        width: 100%;
        justify-content: center;
    }

    .nav__button button {
        width: 48%;
    }

    .landing__header {
        margin-top: 50px;
        margin-bottom: -100px;
    }

    .landing__header h1 {
        visibility: hidden;
        margin: 0;
        padding: 0;
        width: 60%;

    }

    .landing__header h1::before {
        position: relative;
        content: "Hype got you here. of it. Stay for best ever help.";
        visibility: visible;
        display: flex;
        padding-top: 5px;
        font-size: 36px;
    }

    .landing__center {
        padding: 30px 0;
        order: 2;
    }

    .landing__center .container {
        flex-direction: column;
        gap: 30px;
    }

    .landing__center__left {
        width: 100%;
    }

    .landing__center__left h2 {
        font-size: 24px;
    }

    .landing__center__left p {
        font-size: 16px;
        width: 70%;
    }

    .landing__center__right {
        width: 100%;
    }

    .landing__center__right__input {
        display: flex;
        width: 80%
    }

    .landing__center__right__input input {
        flex: 1;
        padding: 12px 15px;
    }

    .landing__center__right__input button {
        padding: 12px 20px;
        border-radius: 0 6px 6px 0;
    }

    .landing__bottom {
        flex-direction: column;
        gap: 30px;
        margin-top: 10px;
    }

    .landing__bottom__left {
        width: 100%;
        height: auto;
    }

    .landing__bottom__left .img img {
        width: 100%;
        height: auto;
    }

    .landing__bottom__right {
        width: 100%;
    }

    .landing__bottom__right__box {
        text-align: center;
    }

    .landing__bottom__right__box .img img {
        width: 220px;
        margin-bottom: 15px;
    }

    .content {
        padding-top: 0;
        margin-top: -20px;
        font-size: 12px;
        text-align: left;
    }

    .content .one {
        visibility: hidden;
    }

    .content .one::before {
        visibility: visible;
        position: relative;
        content: "Completely synergize resource taxing relationships via premier niche markets. Professionally cultivate one-to-one customer service with robust ideas.  Generated user generated content in real-time multiple touchpoints.";

    }

    .content .two {
        visibility: hidden;
    }

    .content .two::before {
        visibility: visible;
        position: relative;
        content: "Efficiently cross-media information without cross-media value. Quickly maximize timely deliverables for real-time schemas. Dramatically maintain clicks-and-mortar solutions without functional solutions.";
    }


    .content .three {
        visibility: hidden;
    }

    .content .three::before {
        visibility: visible;
        position: relative;
        content: "Dynamically innovate resource-leveling customer service for state of the art customer service. Seamlessly fully researched growth strategies and interoperable internal or organic sources.";
    }

    .content h4 {
        margin-bottom: -30px;
        margin-top: -20px;
        color: var(--mainp);
    }

    .category__head h2 {
        font-size: 32px;
        margin: 40px 0 30px;
    }

    .category__boxs {
        gap: 30px;
    }

    .category__boxs__box {
        width: calc(50% - 30px);
    }

    .category__boxs__box:hover {
        transform: none;
    }

    .news {
        padding: 40px 0;
    }

    .news__header h2 {
        width: 100%;
        font-size: 32px;
        padding: 15px 0;
    }

    .news__button {
        display: flex;
        justify-content: center;
        gap: 10px;
    }

    .news__button button:nth-child(2) {
        display: block;
        margin-left: 0;
        margin-top: 10px;
    }

    #button__none {
        display: block;
    }

    .footer__boxs {
        flex-wrap: wrap;
        gap: 30px;
    }

    .footer__boxs__box {
        width: 100%;
        margin-bottom: 0;
    }

    .footer__boxs__box__content {
        font-size: 12px;
    }

    .footer__boxs__box__content p {
        font-size: 16px;
    }

    .footer__boxs__box__content .head {
        padding-bottom: 15px;
    }

    .footer__boxs__box__input {
        margin-bottom: 20px;
        gap: 0px;
        width: 80%;
    }

    .footer__boxs__box__input input {
        width: 50%;
        padding: 12px;
        border-radius: 6px;
    }

    .footer__boxs__box__input button {
        width: 20%;
        border-radius: 6px;
    }
}



@media (max-width: 400px) {
    .container {
        width: 90%;
    }

    .landing__header {
        margin-bottom: -200px;
    }

    .landing__header h1 {
        visibility: hidden;
        margin-bottom: 80px;
        padding: 0;
        width: 90%;
    }

    .landing__header h1::before {
        position: relative;
        content: "Hype got you here. of it. Stay for best ever help.";
        visibility: visible;
        display: flex;
        font-size: 24px;
        padding-top: 25px;
        font-size: 36px;
    }

    .landing__center {
        order: 2;
    }

    .landing__center__left h2 {
        font-size: 28px;
    }

    .landing__center__left p {
        font-size: 18px;
    }

    .landing__center__right__input {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        background-color: transparent;
        width: 100%;
    }

    .landing__bottom__left {
        width: 100%;
    }

    .landing__bottom__left h2 {
        visibility: hidden;
        width: 100%;
    }

    .landing__bottom__left h2::before {
        visibility: visible;
        position: relative;
        content: "Reach your users with new tools";
        font-size: 18px;
    }

    .landing__bottom__left p {
        padding: 10px 0;
        margin-top: -100px;
    }

    .landing__center__right__input input {
        width: 100%;
        background-color: var(--whitecl);
        border-radius: 6px;
    }

    .landing__center__right__input button {
        width: 100%;
        border-radius: 6px;
    }

    .landing__bottom__right__box {
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-bottom: 50px;
    }

    .landing__bottom__right__box .img img {
        width: 350px;
        margin-bottom: 15px;
    }

    .content {
        padding-top: 0;
        margin-top: -20px;
        font-size: 12px;
        text-align: left;
    }

    .content .one {
        visibility: hidden;
    }

    .content .one::before {
        visibility: visible;
        position: relative;
        content: "Completely synergize resource taxing relationships via premier niche markets. Professionally cultivate one-to-one customer service with robust ideas.  Generated user generated content in real-time multiple touchpoints.";

    }

    .content .two {
        visibility: hidden;
    }

    .content .two::before {
        visibility: visible;
        position: relative;
        content: "Efficiently cross-media information without cross-media value. Quickly maximize timely deliverables for real-time schemas. Dramatically maintain clicks-and-mortar solutions without functional solutions.";
    }


    .content .three {
        visibility: hidden;
    }

    .content .three::before {
        visibility: visible;
        position: relative;
        content: "Dynamically innovate resource-leveling customer service for state of the art customer service. Seamlessly fully researched growth strategies and interoperable internal or organic sources.";
    }

    .content h4 {
        margin-bottom: -30px;
        margin-top: -20px;
    }


    .category__head h2 {
        font-size: 24px;
    }

    .category__boxs__box {
        gap: 30px;
        width: 100%;
    }

    .category__boxs__box h3 {
        visibility: hidden;
    }

    .category__boxs__box h3::before {
        visibility: visible;
        position: relative;
        content: "Organize your digital assets with a new methodology here.  Reach your customers and their needs.";
    }

    .category__boxs__box button {
        margin-top: -100px;

    }

    .news {
        margin-top: 20px;
    }

    .news__header h2 {
        font-size: 22px;
    }

    .news__button {
        display: flex;
        flex-direction: column;
    }

    #button__none {
        display: block;
    }

    .main__button,
    .sub__button {
        padding: 12px 20px;
    }
}